:root {
  --bg-1: #000;
  --cor-black-1: #111111;
  --cor-black-2: #2e2e2e;
  --white: #fff;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: var(--bg-1);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  color: var(--white);
  font-size: 1.125rem;
  position: relative;
}
/* sublinhado animado*/
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: var(--white);
  margin-top: 4px;
  transition: 0.3;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: var(--bg-menu);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: var(--cor-black-2);
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
